/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Londrina Solid", Poppins;
    font-size: 16px;
    color: #e7e4e4;
}

/* Index Page */

body {
    background-color: #1C012E;
}

/* Question Section */

.vh-10 {
    height: 10vh;
}

.vh-90 {
    height: 90vh;
}

.vh-30 {
    height: 30vh;
}

.vh-40 {
    height: 40vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-title, #output_ans {
    font-family: 'Londrina Solid';
    font-size: 100px;
    font-weight: 400;
}

p.text-center.question-num {
    font-family: 'Londrina Solid';
    font-size: 36px;
    font-weight: 400;
    background: #F1E0FC;
    color: #1C012E;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0px;
}

.flex-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#options .option {
    font-family: "Macho-SemiBold";
    font-size: 46px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #69DA7C;
    padding: 0px 50px;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 8px;
    margin-right: 20px;
    cursor: pointer;
}

#opt-2 {
    background-color: #E75868 !important;
}

#opt-3 {
    background-color: #F19DD7 !important;
}

#opt-4 {
    background-color: #56B6F6 !important;
}

.question-text, #output_points {
    font-family: 'Londrina Solid';
    font-size: 50px;
    font-weight: 400;
    color: #FFFFFF;
}

#output_ans, #output_points {
    margin: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.otp-countdown {
    margin: 0 auto;
    border-radius: 50px;
    color: #1C012E;
    background-color: #F1E0FC;
    font-family: 'Londrina Solid';
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* End Results */

#end-results, .flex-center-wrapped {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.results-text {
    width: 100%;
    font-family: 'Londrina Solid';
    font-size: 100px;
    font-weight: 400;
    color: #1C012E;
}

.width-100 {
    width: 100%;
}

.width-10 {
    width: 10%;
}

.width-35 {
    width: 40%;
}

.result-text {
    font-family: 'Londrina Solid';
    font-size: 50px;
    font-weight: 400;
    color: #1C012E;
    text-align: left;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

#end-btn {
    margin: 0 auto;
    color: #FDEC4F;
    background: #1C012E;
    padding: 15px 50px;
    border-radius: 30px;
    font-family: "Macho-SemiBold";
    font-size: 26px;
    font-weight: 400;
    display: inline;
    cursor: pointer;
}

#winner-1 p {
    color: #FD4F85 !important;
}

#winners .flex-center:nth-child(3) {
    margin-bottom: 20px;
}

/* Loader */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0px auto;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}